<!-- Instead of @if (!loading) -->
<div *ngIf="!loading">
  <!-- If Admin -->
  <app-add-post *ngIf="showAddPost" (close)="toggleAddPost()"></app-add-post>

  <!-- Blog Header -->
  <div class="blogs-header">
    <h1>Our Blogs</h1>

    <div class="search-bar-container">
      <input type="text" placeholder="Search blogs..." class="search-input" />
      @if (currentUserId) {
      <button class="main-btn" (click)="toggleAddPost()">Add Post</button>
      }
    </div>
  </div>

  <!-- Posts Section -->
  <div *ngIf="posts.length != 0; else noPosts">
    <div class="blogs-grid">
      <div class="blog-card" *ngFor="let p of posts; let i = index">
        <div class="post-header">
          <p class="blog-info">{{ p.author.username }}</p>
          @if (currentUserId) {
          <app-post-options-menu
            [canEdit]="currentUserId == p.author.id"
            [canReport]="currentUserId != p.author.id"
            class="post-menu"
            (update)="onUpdate(p)"
            (delete)="onDelete(p)"
            (report)="onReport(p.author.id)"
          >
          </app-post-options-menu>
          }
        </div>

        <div [routerLink]="['/posts', p.id]">
          <ng-container *ngIf="p.mediaUrl">
            <img
              *ngIf="p.mediaType === 'IMAGE'"
              class="blog-image"
              [src]="'http://localhost:8080' + p.mediaUrl"
              alt="Blog image"
            />
            <video
              *ngIf="p.mediaType === 'VIDEO'"
              class="blog-image"
              [src]="'http://localhost:8080' + p.mediaUrl"
              controls
            ></video>
          </ng-container>

          <div class="blog-info">
            <p class="meta">Insight • {{ p.createdAt | date }}</p>
            <h2 class="blog-title">{{ p.title }}</h2>
          </div>
        </div>
      </div>
    </div>
  </div>

  <ng-template #noPosts>
    <div><h2>No Post Yet!</h2></div>
  </ng-template>
</div>

<div *ngIf="loading" class="loading">Loading posts...</div>

<app-confirm-dialog
  [show]="showConfirm"
  message="Are you sure you want to delete this post?"
  (confirm)="confirmDelete()"
  (cancel)="cancelDelete()"
>
</app-confirm-dialog>
