<!-- Trigger Button -->
<button
  mat-icon-button
  [matMenuTriggerFor]="optionsMenu"
  class="options-trigger"
  aria-label="More options"
>
  <mat-icon>more_horiz</mat-icon>
</button>

<!-- Menu Definition -->
<mat-menu #optionsMenu="matMenu" xPosition="before" class="custom-menu">
  @if (canReport()) {
  <button mat-menu-item (click)="report.emit()">Report Post</button>
  } @if (canEdit() && postId()) {
  <a mat-menu-item [routerLink]="['/p', postId(), 'edit']"> Edit story </a>
  <button mat-menu-item color="warn" (click)="delete.emit()">Delete story</button>
  } @if (canArchieve()) {
  <button mat-menu-item (click)="archive.emit()">Archive post</button>
  } @if (canUnarchieve()) {
  <button mat-menu-item (click)="unarchive.emit()">Unarchive post</button>
  }
</mat-menu>
