<div class="login-page">
  <div class="login-container">
    <form [formGroup]="publicInfoForm" (ngSubmit)="onSubmit()">
      <div class="title">
        <h1>Update Your Profile</h1>
        <p>Update the information you want to show on your public profile.</p>
      </div>

      <div class="social-login">
        <div>
          <label>First name</label>
          <input type="text" formControlName="firstname" [placeholder]="user?.firstname" />
        </div>
        <div>
          <label>Last name</label>
          <input type="text" formControlName="lastname" [placeholder]="user?.lastname" />
        </div>
      </div>

      <div class="input-group">
        <div>
          <label>email</label>
          <input type="text" formControlName="email" [placeholder]="user?.email" />
        </div>
      </div>

      <div class="input-group">
        <div>
          <label>username</label>
          <input type="text" formControlName="email" [placeholder]="user?.username" />
        </div>
      </div>

      <div class="input-group">
        <label>Bio</label>
        <textarea formControlName="bio" [placeholder]="user?.bio" rows="4"></textarea>

        <div
          class="error"
          *ngIf="publicInfoForm.get('bio')?.touched && publicInfoForm.get('bio')?.invalid"
        >
          <small>Bio is required.</small>
        </div>
      </div>

      <div class="input-group">
        <div>
          <label>old-password</label>
          <input type="password" formControlName="oldpassword" />
        </div>
      </div>

      <div class="input-group">
        <div>
          <label>new-password</label>
          <input type="password" formControlName="password" />
        </div>
      </div>

      <div class="input-group">
        <label>Profile Image</label>
        <input type="file" (change)="onFileSelected($event)" accept="image/*" />

        <div class="avatar-preview" *ngIf="avatarPreview">
          <img [src]="avatarPreview" alt="Avatar Preview" />
        </div>

        <div class="error" *ngIf="fileError">
          <small>{{ fileError }}</small>
        </div>
      </div>

      @if (errorMessage) {
      <div class="error">
        <p>{{ errorMessage }}</p>
      </div>
      }

      <button class="main-btn" type="submit" [disabled]="publicInfoForm.invalid">
        Save Profile
      </button>
    </form>
  </div>
</div>
